@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Bietro';
  src: url('/Bietro DEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-orbitron: 'Orbitron', sans-serif;
  --font-bietro: 'Bietro', serif;
}

body {
    background-color: black;
}

.form-input {
  color: white;
  background-color: #333333;
  border: 1px solid #444444;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  width: 100%;
}

.form-input:focus {
  outline: none;
  border-color: #666666;
}

.form-input-label {
  color: white;
  font-size: 1.5rem;
}

.form-footer-label {
  color: #99a1af;
  font-size: 0.9rem;
  font-weight: var(--font-weight-extralight);
}

.form-radio-label {
  color: white;
  font-size: 1rem;
  background-color: #333333;
  padding: 8px;
  border-radius: 4px;
  width: stretch;
}

.form-footer-label::highlight {
  color: #ff0000;
}

input[type="radio"] {
  accent-color: #666666;
}

@layer utilities {
  
  .text-gold-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                linear-gradient(116.91deg, #B78000 28.01%, #FFDB86 54.88%, #A27200 66.67%, #A37200 74.76%, #E19D00 82.06%), 
                linear-gradient(92.5deg, rgba(255, 255, 255, 0.3) -2.88%, #FFFFFF 34.04%, rgba(255, 255, 255, 0.3) 79.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  
  .bg-gold-gradient {
    background: linear-gradient(116.91deg, #B78000 28.01%, #FFDB86 54.88%, #A27200 66.67%, #A37200 74.76%, #E19D00 82.06%);
  }
}

@keyframes maskSlideIn {
  0% {
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0% 0);
    opacity: 1;
  }
}

.animate-mask-reveal {
  animation: maskSlideIn 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
 